#define IDR_MENU1 10000
#define IDM_File 10001
#define IDM_Help 10003
#define IDM_Result 102
#define IDM_Task 101
#define IDM_Info 104
#define IDM_Exit 105

#include "C:/masm64/include64/Resource.h"

10 ICON DISCARDABLE "1.ico"
20 RCDATA DISCARDABLE "12.jpg"

100 MENUEX
BEGIN
  POPUP "Task"
  BEGIN
    MENUITEM "Show result",IDM_Result
  END
  POPUP "Info"
  BEGIN
    MENUITEM "Show task info",IDM_Task
    MENUITEM "Show author info",IDM_Info
  END
  MENUITEM "Exit",IDM_Exit
END

